<body>
<div class="container">
  <div class="row">
    <div class="col-lg-12"><h2>My Story</h2></div>
  </div>
  <div class="row">
    <div class="col-lg-12"><img src="../../assets/images/0.jpg"></div>
      <div class="col-sm-12"><p>I am a Software Developer with experience working at two Fortune 500
        companies. I have had exposure with C#, Java, Python, JavaScript, SQL, and many other technologies.
        I have worked on two cross-platform applications using the Ionic Framework (angular) and multiple websites
        using the Microsoft Stack as well as Java EE/Maven/Oracle. I also have experience using CI/CD tools such as Jenkins for
        automated builds.
      </p>
      <p>
        Software Development is my passion which is why I spend a lot of time doing it at work as well
      as in my spare time. I have received a nanodegree in web development from Udacity recently in which I learned
      cutting edge web technologies through a 6 month video taught course. As you may have seen, I have a few examples
      of my newly developed talents on my github, which are linked on the fron page. But if you missed it, just click
      <a target="_blank" href="http://github.com/zdburrage">Here!</a>


    </p>
    </div>
  </div>
</div>
</body>
<router-outlet></router-outlet>

