

<div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h1 style="text-align: center;">My Work</h1>
      </div>
    </div>
    <div class="row title">
        <div class="col-md-4">
          <article>
            <a target = "_blank" href="https://github.com/zdburrage/MapsProject"><img style="width:100%;height:100%;" href="https://github.com/zdburrage/MapsProject" src="../../assets/images/MapsProject.PNG"></a>
            <a target = "_blank" href="https://github.com/zdburrage/MapsProject"><h4 style="text-align: center;">Front end Google Maps Project using knockout.js</h4></a>
          </article>
        </div>
        <div class="col-md-4">
          <article>
            <a target = "_blank" href="http://zdburrage.pythonanywhere.com"><img style="width:100%;height:100%;" src="../../assets/images/pythonanywhere.PNG"></a>
            <a target = "_blank" href="http://zdburrage.pythonanywhere.com"><h4 style="text-align: center;">Python/Flask/SQLite SKills Catalog Application</h4></a>
          </article>
        </div>
        <div class="col-md-4">
          <article>
            <a target = "_blank" href="https://blogapp17-186602.appspot.com/blog"><img style="width:100%;height:100%;" src="../../assets/images/blog.PNG"></a>
            <a target = "_blank" href="https://blogapp17-186602.appspot.com/blog"><h4 target = "_blank" style="text-align: center;">Blog Application with Ability to Create Accounts and Write Posts</h4></a>
          </article>
        </div>
    </div>
    <div class="row title">
        <div class="col-md-4">
          <article>
            <a target = "_blank" href="https://github.com/zdburrage/MapsProject"><img style="width:100%;height:100%;" href="https://github.com/zdburrage/MapsProject" src="../../assets/images/MapsProject.PNG"></a>
            <a target = "_blank" href="https://github.com/zdburrage/MapsProject"><h4 style="text-align: center;">Front end Google Maps Project using knockout.js</h4></a>
          </article>
        </div>
        <div class="col-md-4">
          <article>
            <a target = "_blank" href="http://zdburrage.pythonanywhere.com"><img style="width:100%;height:100%;" src="../../assets/images/pythonanywhere.PNG"></a>
            <a target = "_blank" href="http://zdburrage.pythonanywhere.com"><h4 style="text-align: center;">Python/Flask/SQLite SKills Catalog Application</h4></a>
          </article>
        </div>
        <div class="col-md-4">
          <article>
            <a target = "_blank" href="https://blogapp17-186602.appspot.com/blog"><img style="width:100%;height:100%;" src="../../assets/images/blog.PNG"></a>
            <a target = "_blank" href="https://blogapp17-186602.appspot.com/blog"><h4 target = "_blank" style="text-align: center;">Blog Application with Ability to Create Accounts and Write Posts</h4></a>
          </article>
        </div>
    </div>
  </div>

